[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "buildmer"]
	path = buildmer
	url = https://gitlab.com/cvoeten/buildmer
[submodule "permutes"]
	path = permutes
	url = https://gitlab.com/cvoeten/permutes
